*{
  margin: 0;
  padding: 0;
  font-family: Century Gothic;
}

header {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-color: #34495e;
}


.logo img {
  float: left;
  width: 180px;
  height: auto;
  position: absolute;
  top: 0px;
  left: 0px;
}

ul {
  float: right;
  list-style-type: none;
  margin-top: 25px;
}

ul li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid transparent;
  transition: 0.6s ease;
}

ul li a:hover {
  background: #fff;
  color: #000;
}

ul li.active a{
  background: #fff;
  color: #000;
}

table {
  width: 1000px;
  margin-left: 180px;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  /* border-spacing: 40px; */
}

th, caption{
  text-align: center;
  margin-top: 100px;
  margin-left: auto;
}

caption{
  color: #fff;
  font-size: 24px;
  border-spacing: 5px;
}

table, th, td {
  border: 1px solid #000;
  border-collapse: collapse;

}

th, td {
  padding: 15px;
}

tr:nth-child(even){
  background-color: #fff;

}

tr:nth-child(odd){
  background-color: #ddd;
}

.container {
  width: 400px;
  height: 400px;
  margin: 100px;
}
